* {
    padding: 0;
    margin: 0;
}

canvas {
    background-image: url('ludo.jpg');
    border: 1px solid black;
}

button {
    width: 50px;
    height: 50px;
    margin: 2px;
    font-weight: bolder;
    font-size: 40px;
    background: rgba(29, 29, 28, 0.945);
    border: none;
    color: wheat;
    cursor: pointer;
}

button:disabled {
    background: rgba(194, 183, 189, 0.973);
}

button:active {
    background: rgba(102, 3, 64, 0.973);
}

#p1score {
    position: absolute;
    bottom: 160px;
}

#p1Num {
    position: absolute;
    left: 0px;
}

#p2Num {
    position: absolute;
    left: 350px;
}

#p3Num {
    position: relative;
    right: 410px;
    top: -10px;
}

#p4Num {
    position: relative;
    bottom: 12px;
    right: 115px;
}